<ion-header>
  <ion-navbar>
    <ion-title>
      Gioco tutorial
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="shared.state.messages.length === 0">

    <button ion-button color="primary" (click)="pageScanOne($event)">Attiva 1 carta</button>
    <button ion-button color="primary" (click)="pageScanTwo($event)">Attiva 2 carte</button>

  </div>

  <div *ngIf="shared.state.messages.length > 0">

    <p *ngFor="let message of shared.state.messages ">{{message.text}}</p>
    <p>
      <button ion-button color="primary" (click)="readOk($event)">Ok!</button>
    </p>

  </div>

</ion-content>
