page-play {

  .bg {
    background-image: url('../assets/imgs/seamless01.jpg');
    // background-color: aquamarine;
  }

  p.message {
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.8);
  }

}
