<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="platform.is('cordova')">
  <h2>Welcome to Card Hunter!</h2>
  <p>
    Codice selezionato: {{scanned}}
  </p>
  <p>
    <button ion-button color="primary" (click)="scancode($event)">Scan</button>
  </p>
</ion-content>

<ion-content padding *ngIf="! platform.is('cordova')">
  <h2>Welcome to Card Hunter! (test)</h2>
  <p>
    Codice selezionato: {{scanned}}
  </p>
</ion-content>

<ion-content padding>
  <p>
    <button ion-button color="primary" (click)="reset($event)">Reset</button>
  </p>
</ion-content>
