<ion-header>
  <ion-navbar>
    <ion-title>Impostazioni</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <p *ngFor="let log of systemlog">{{log}}</p>

  <div *ngIf="platform.is('cordova')">
    <p>
      Codice selezionato: {{scanned}}
    </p>
    <p>
      <button ion-button color="primary" (click)="scancode($event)">Prova la lettura QR</button>
    </p>
  </div>

  <ion-list>
    <ion-item *ngFor="let tag of shared.state.tags">
      {{tag}} {{shared.state.score[tag]}}
    </ion-item>
  </ion-list>

  <p>
    <button ion-button color="primary" (click)="reset($event)">Ricomincia il gioco</button>
  </p>

</ion-content>
