<ion-header>
  <ion-navbar>
    <ion-title>Impostazioni</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="platform.is('cordova')">
    <p>
      Codice selezionato: {{scanned}}
    </p>
    <p>
      <button ion-button color="primary" (click)="scancode($event)">Prova la lettura QR</button>
    </p>
  </div>

  <ion-list>
    <ion-item>
      <ion-range [(ngModel)]="sound.musicVolume" (ionChange)="sound.updateMusicVolume()" min="0" max="100">
        <ion-icon small range-left name="musical-notes"></ion-icon>
        <ion-icon range-right name="musical-notes"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-range [(ngModel)]="sound.soundVolume" (ionChange)="sound.updateSoundVolume()" min="0" max="100">
        <ion-icon small range-left name="musical-note"></ion-icon>
        <ion-icon range-right name="musical-note"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="musical-note"></ion-icon></ion-label>
      <ion-checkbox [(ngModel)]="sound.soundEnabled"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let tag of shared.state.tags">
      {{tag}} {{shared.state.score[tag]}}
    </ion-item>
  </ion-list>

  <ion-list *ngIf="availablegames">
    <ion-item *ngFor="let game of keysof(availablegames)">
      {{game}}: {{availablegames[game]?.title}}
      <button ion-button color="primary" (click)="playgame(game)">Gioca</button>
    </ion-item>
  </ion-list>

  <p>
    <ion-input [(ngModel)]="gameurl"></ion-input>
    <button ion-button color="primary" (click)="loadgame($event)">Carica gioco</button>
    <button ion-button color="primary" (click)="scangame($event)">QR</button>
  </p>

</ion-content>
