<ion-header>
  <ion-navbar>
    <ion-title>
      Diario
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg" padding>

  <p>
    <button ion-button color="primary" (click)="scanFilter($event)">QR</button>
    <button ion-button color="primary" *ngIf="filter" (click)="dropFilter($event)">Cancella filtro</button>
  </p>

  <p class="message" *ngFor="let message of shownMessages">
      {{message.text}}
  </p>
  <p class="message" *ngIf="!shownMessages">
    Nessun messaggio da mostrare.
  </p>

</ion-content>
